.dialogs {
    grid-area: c;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogs .active {
    color: gold;
}

.dialog img{
    border-radius: 25px;
}

.messages {
    padding: 10px;
}
