.nav {
    grid-area: n;
    background-color: blueviolet;
    padding: 10px;
  } 

.item a {
    color: white;
}

.item.active a {
  color: lightgreen;
}

.navFriends {
  margin-top: 20px;
}

.iconFriends {
  display: block;
  width: 30px;
  height: 30px;
  background-color: chartreuse;
  border-radius: 15px;
}