.dialogs {
    grid-area: c;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dialogsItems {
    padding: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

.dialogs .active {
    color: gold;
}

.messages {
    display: grid;
    grid-auto-rows: min-content;
    padding: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}
